# Ignore Maven target directory
target/

# Ignore Maven wrapper files
!.mvn/wrapper/maven-wrapper.jar

# Ignore VS Code files
.vscode/

# Ignore build directories
!**/src/main/**/target/
!**/src/test/**/target/